body {
    margin: 0;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    position: relative;
    background-color: rgb(177, 207, 223);
    color: rgb(59, 83, 103);
}

.main{
    position: relative;
}

/*開始*/
#startPage{
    background-color: rgb(177,207,223);
    color:rgb(59,83,103);
    display: block;
}

#gameName{
    font-size: 30px;
    text-align: center;
    position: relative;
    top: 0;
    opacity: 0;
    transition: top 1s ease-in-out, opacity 1s ease-in-out;
}

#gameName h1{
    margin: 0;
}

.buttons {
    margin: 0 30px;
    padding: 10px 10px;
    font-size: 15px;
    cursor: pointer;
    justify-content: center;
    display: flex;
    background-color: rgb(250,245,232);
    color: rgb(59,83,103);
    border: none;
    border-radius: 100px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#ruleButton{
    margin-top: 100px;
}

#startButton{
    margin-top: 20px;
}

#rule{
    height: 100%;
    width: 100%;
    text-align: center;
    white-space: pre-line;
    justify-content: center;
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    margin: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
}

#rule div{
    background-color: rgb(229,229,240);
    height: 250px;
    border-radius: 5%;
}

#rule div h3{
    margin: auto 20px;
}

body, html, .main, #rule{
    height: 100%;
    width: 100%;
    margin: 0;
}

/*遊戲*/
#game {
    position: relative;
    width: 95%;
    height: 95%;
    display: none;
    margin: auto;
    top: 10px;
}

.title {
    height: 50px;
    background-color: rgb(177, 207, 223);
    color: rgb(59, 83, 103);
    border: 2px solid rgb(250,245,232); /* 添加白色边框 */
    border-radius: 10px; /* 圆角大小，可以根据需要进行调整 */
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title h1 {
    margin: 0;
    text-align: center;
}

/*對話框*/
#chatBox {
    width: 100%;
    height: 400px; /* 初始较小的高度 */
    border-radius: 10px;
    background-color: rgb(115, 166, 196);
    overflow: auto;
}

.bot, .player, .endButton{
    margin:20px 15px;
    height: 25px;
}

.bot span, .endButton span{
    display:inline-block;
    background:rgb(59, 83, 103);
    border-radius:10px;
    color:rgb(250,245,232);
    padding:5px 10px;
}

.endButton span{
    margin:0px 20px 0px 0px;
    background:rgb(237,208,211);
    color:rgb(59, 83, 103);
}

.player{
    text-align:right;
}

.player span{
    display:inline-block;
    background:rgb(237,208,211);
    border-radius:10px;
    /*color:rgb(250,245,232);*/
    padding:5px 10px;
}

#endMes{
    display: none;
}

.endButton{
    cursor: pointer;
}

.endButton span:hover {
    transform: scale(1.1);
}

/*操作區*/
/* 輸入欄 */
.input {
    margin-top:20px;
    display: flex;
    justify-content: space-between; /* 將內容間距分配在左右 */
    align-items: center;
    width: 100%; /* 寬度充滿父元素 */
}

.custom-input {
    flex: 0 0 calc(80% - 10px); /* 80% 寬度，減去間距 */
    width: calc(100% - 16px); /* 100% 寬度，減去間距 */
    margin-top:3px;
    height: 30px;
    padding: 8px;
    font-size: 25px;
    border: 2px solid rgb(250, 245, 232);
    color: rgb(59, 83, 103); /* color3 */
    border-radius: 8px;
    display: flex;
    align-items: center;
    background-color: rgba(229,229,240,0.3);
}

.delete, .enter {
    flex: 0 0 calc(10% - 10px); /* 10% 寬度，減去間距 */
}

.delete {
    background-color: rgb(250,245,232);
    color: rgb(59, 83, 103);
    height: 50px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


.enter {
    background-color: rgb(237, 208, 211);
    /*color: #fff;*/
    height: 50px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*數字鈕*/
#button {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 60px;
    margin: 10px auto 0 auto;
}

#button div {
    background-color: rgb(59, 83, 103);
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    margin: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.enter:hover, .delete:hover{
    transform: scale(1.05);
}

#button div:hover{
    transform: scale(1.1);
    background-color: rgb(59, 83, 103);
}

/* 一般樣式 */
.button {
    margin: 0 30px;
    padding: 10px 20px;
    font-size: 30px;
    cursor: pointer;
    background-color: rgb(177, 207, 223);
    color: rgb(59, 83, 103);
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

/* 小型螢幕 */
@media only screen and (max-width: 600px) {
    .button {
        font-size: 20px;
        padding: 8px 16px;
    }

    /* 將按鈕以 3x3 的方式排列 */
    #button {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px; /* 調整按鈕之間的間距 */
    }

    /* 調整按鈕的樣式 */
    #button div {
        width: calc(100% - 16px); /* 讓按鈕充滿父元素的寬度，減去內邊距 */
        height: 50px;
        font-size: 18px;
    }

    /* 調整輸入欄的樣式 */
    .input {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
    }

    .custom-input {
        flex: 0 0 calc(60% - 10px); /* 調整輸入框寬度 */
        width: calc(100% - 16px); /* 100% 寬度，減去內邊距 */
    }

    .delete, .enter {
        flex: 0 0 calc(20% - 10px); /* 調整刪除和輸入按鈕的寬度 */
        width: calc(20% - 10px); /* 調整刪除和輸入按鈕的寬度 */
    }

}
/*
@media only screen and (max-height: 700px) {
    #chatBox {
        width: 100%;
        height: 300px;
        background-color:rgb(115,166,196);
        overflow: auto;
    }
}
*/

/* 中型螢幕 */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .button {
        font-size: 25px;
        padding: 10px 18px;
    }

    #button div {
        width: 50px;
        height: 50px;
        font-size: 18px;
    }
}

/* 大型螢幕 */
@media only screen and (min-width: 1025px) {
    #button div {
        width: 50px;
        height: 50px;
        font-size: 18px;
    }
}