body {
    position: relative;
}
/*規則*/

/*遊戲*/
/*標題*/
.game {
    width: 100%;
    height: 100%;
}

.title {
    height: 50px;
    background-color: rgb(177,207,223);
    width: 100%;
    margin: 0;
}

.title h1 {
    margin: 0;
    text-align: center;
}

/*對話框*/
.dialogue {
    width: 100%;
    height: 400px;
    background-color:rgb(115,166,196);
}

.auto{
    margin:30px; 
}

.auto span{
    display:inline-block;
    background:rgb(59,83,103);
    border-radius:10px;
    color:rgb(250,245,232);
    padding:5px 10px;
}

.player{
    margin:10px;
    text-align:right;
}

.player span{
    display:inline-block;
    background:rgb(59,83,103);
    border-radius:10px;
    color:rgb(250,245,232);
    padding:5px 10px;
}

.player {
    height: 25px;
}

.bot {
    height: 25px;
}

/*操作區*/
.input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete {
    width: 80px;
    height: 50px;
    border-radius: 10px;
    background-color: #e74c3c;
    color: #fff;
    text-align: center;
    cursor: pointer;
    margin-right: 10px;
}

.custom-input {
    width: 120px;
}

.button {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10px;
}

.button div {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: aquamarine;
    text-align: center;
    margin: 5px;
    cursor: pointer;
}
